* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ccc;
}

nav {
  position: fixed;
  top: 1vh;
  right: 1vw;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  padding-left: 15em;
}

nav > ul > li > a {
  text-decoration: none;
}

main.scroll-container {
  background-color: #ccc;
}

.scroll-section {
  height: 100vh;
  padding: 5vh 5vw;
}

.scroll-section > p {
  max-width: 80vw;
  min-width: 40vw;
  font-size: 1.6em;
}

main.scroll-container section#landing.scroll-section {
}

main.scroll-container section#landing.scroll-section header {
  text-align: right;
  padding: 5em;
}

main.scroll-container section#landing.scroll-section header h2 {
}

main.scroll-container section#landing.scroll-section p#content {
  max-width: 80vw;
}

main.scroll-container section#about.scroll-section {
  background-color: rgb(93, 93, 93);
}

main.scroll-container section#about.scroll-section header {
}

main.scroll-container section#about.scroll-section header h2 {
  text-align: right;
}

main.scroll-container section#about.scroll-section p#content {
  width: 60vw;
}

main.scroll-container section#skills.scroll-section {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

main.scroll-container section#skills.scroll-section header {
}

main.scroll-container section#skills.scroll-section header h2 {
}

main.scroll-container section#skills.scroll-section p#content {
  text-align: right;
  align-self: right;
  width: 60vw;
}

main.scroll-container section#projects.scroll-section {
  background-color: #3a3939;
}

main.scroll-container section#projects.scroll-section header {
}

main.scroll-container section#projects.scroll-section header h2 {
  text-align: right;
}

main.scroll-container section#projects.scroll-section p#content {
}

img {
  width: 30vw;
  height: auto;
  margin: 1.8em;
}
